body {
	padding: 0;
	margin: 0 auto;
}
div {
	box-sizing: border-box;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.conteiner {
	width: 1096px;
	margin: 0 auto;
	background: none;
}
header {
	padding: 7px 0px 0px 0px;
	margin: 0;
	height: 60px;
	background-color: black;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	z-index: 15;
}
.logo {
	float: left;
	display: flex;
  	align-items: center;
  	width: 140px;
	height:50px;
}
.logo_image {
	float: left;
	height: 50px;
}
.logo_text {
	margin-left: 7px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	float: right;
	font-size: 25px;
	color:white;
	text-transform: uppercase;
}
.logo_text:hover{
	cursor: default;
}
nav {
	float: right;
	padding-top: 13.5px;
}
.menu {
	padding:0;
	margin:0;
	display: block;
}
.menu li {
	margin-right: 85px;
	float: left;
	display: block;
	transition: transform 0.7s;
}
.a_header {
	color: white;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	transition: transform 1s;
}
.a_header:hover{
	cursor: default;
}
.menu li:hover {
	transform: scale(1.07);
}
#contact_section{
	height: 100vh;
}
.contact {
	align-items: center;
	display: flex;
	padding-top: 173px;
	padding-bottom: 113px;
}
.contact_info {
	float: right;
	margin-left: 30px;
}
.contact_info_title {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 28px;
	margin: 3px 0px;
}
.contact_text_div{
	display: flex;
	align-items: center;
	margin-top: 15px
}
.contact_tel {
	height: 40px;
	width: 40px;
	background: url(../img/tel.png) 0 0 /100% no-repeat;
	margin-left: 15px;
	transition: all 0.5s ease 0s;
}
.contact_tel:hover {
	transform: scale(1.2);
	cursor: default;
}
.contact_text {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 45px;
	margin: 0px 0px 5px 0px;
}
.contact_number{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 25px;
	margin: 0px;
}
.contact_number:hover{
	cursor: default;
}
.h1_footer {
	color: white;
	margin-bottom: 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 65px;
	text-transform: uppercase;
	text-align: center;
}
.sites_div {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.insta_text {
	margin-left: 10px;
}
.insta_img {
	background: url(../img/inst.png) no-repeat center top/cover;
	padding:30px 30px;
	transition: all 0.8s ease 0s;
}
.insta_img:hover {
	transform: scale(1.1);
	cursor: default;
}
.info {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
	color: black;
	line-height: 1.7;
	transition: all 0.5s ease 0s;
}
.info:hover {
	color: #7f7f7f;
	cursor: default;
}
.face_text {
	margin-left: 10px;
}
.face_img {
	background: url(../img/facebook.png) no-repeat center top/cover;
	padding:30px 30px;
	transition: all 0.8s ease 0s;
}
.face_img:hover {
	transform: scale(1.1);
	cursor: default;
}
.mail_text {
	margin-left: 10px;
}
.mail_img {
	background: url(../img/gmail.png) no-repeat center top/cover;
	padding:30px 30px;
	transition: all 0.8s ease 0s;
}
.mail_img:hover {
	transform: scale(1.1);
	cursor: default;
}